.account-information {
    padding-top: 100px;
    color: #000;
    max-width: 700px;
    margin: 0 auto;
}
.inform-list-item{
    text-align: left;
}
.account-information {
    display: flex;
    flex-direction: column;
}