.document-popup {
    background-color: #4caf50;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000001a;
    color: black;
    /* display: none; */
    left: 45%;
    padding: 0px 20px;
    position: fixed;
    bottom: 10%;
    /* left: 200px; */
    /* transform: translateX(-50%); */
    z-index: 1000;
}

.document-popup.show {
    display: block;
}